/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

@font-face {
    font-family: 'Frank';
    src: url('ufonts.com_franklin-gothic-demi.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.tWhite{
	color: white;
}

.roboto{
	font-family: 'Roboto', sans-serif;
	font-weight:300;
}

#header{
	height:75px;
	background-color: #222;
}

#header-logo{
	display: inline-block;
	line-height: 75px;
	margin: 12px;
	margin-left: 24px;
}
#header-contact{
	float: right;
	line-height: 75px;
	padding-right: 25px;
	padding-left: 25px;
	background-color: #BF1363;

	color:#000;
    -webkit-transition: background 0.25s linear;
    -moz-transition: background 0.25s linear;
    -ms-transition: background 0.25s linear;
    -o-transition: background 0.25s linear;
    transition: background 0.25s linear;
}

#header-contact:hover{
	background-color: #A6004A;
}

#header-me{
	float: right;
	line-height: 75px;
	padding-right: 25px;
	padding-left: 25px;
	background-color: #0E79B2;

	color:#000;
    -webkit-transition: background 0.25s linear;
    -moz-transition: background 0.25s linear;
    -ms-transition: background 0.25s linear;
    -o-transition: background 0.25s linear;
    transition: background 0.25s linear;
}

#header-me:hover{
	background-color: #006099;
}

#header-info{
	float: right;
	line-height: 75px;
	padding-right: 25px;
	padding-left: 25px;
	background-color: #06AED5;

	color:#000;
    -webkit-transition: background 0.25s linear;
    -moz-transition: background 0.25s linear;
    -ms-transition: background 0.25s linear;
    -o-transition: background 0.25s linear;
    transition: background 0.25s linear;
}

#header-info:hover{
	background-color: #0095BC;
}

#header-tag{
	position: absolute;
	display: inline-block;
	line-height: 75px;
	padding-left: 50px;
	font-size: 25px;
}

body{
	background-color: #222;
}

#greet{
	height: 300px;
	background-color: #090909;
	width: 100%;
}

#gaming-pc-pic{
	margin:25px;
}

#general-info{
	display: inline-block;
	position: absolute;
	height:250px;
	margin-top: 25px;
	margin-bottom: 25px;
}

#general-info-title{
	font-size: 30px;
	margin-bottom: 5px;
}

#reasons, li{
	line-height: 29px;
}

#contact-reasons{
	float: right;
	height:100px;
	margin: 100px;
	text-align: center;
	line-height: 100px;
	background-color: #BF1363;
	margin-right: 20px;
	padding-left: 110px;
	padding-right: 110px;
	border-radius: 15px;

	-webkit-transition: background 0.25s linear;
    -moz-transition: background 0.25s linear;
    -ms-transition: background 0.25s linear;
    -o-transition: background 0.25s linear;
    transition: background 0.25s linear;
}

#contact-reasons:hover{
	background-color: #A6004A;
}

#info-bar{
	background-color: #06AED5;
	width: 100%;
	height: 50px;
	line-height: 50px;
	font-size: 30px;
	
}

#information{
	width: 100%;
	background-color: #222;
}

#about-bar{
	background-color: #0E79B2;
	width: 100%;
	height: 50px;
	line-height: 50px;
	font-size: 30px;
	
}

#about{
	width: 100%;
	height: 600px;
	background-color: #222;
}

#contact-bar{
	background-color: #BF1363;
	width: 100%;
	height: 50px;
	line-height: 50px;
	font-size: 30px;
	
}

#contact{
	width: 100%;
	height: 800px;
	background-color: #222;
}

.bar-text{
	margin-left: 50px;
}

#footer{
	height: 100px;
	background-color: black;
	width: 100%;
}

.info-whatis{
	height: 40px;
	width: 100%;
	background-color: #006099;
	line-height: 40px;
}

.info-whatis-title{
	margin-left: 30px;
}

.info-text{
	margin: 25px;
}

#compare.center{
	margin-left:auto; 
    margin-right:auto;
}

.comp{
	margin-top: 20px;
}
#compare td{
	text-align: center;
}
#compare{
	background-image: url("../images/circuit.jpg");
	width: 100%;
	table-layout: fixed;
	margin-top: -18px;
	-webkit-box-shadow: inset 0px 10px 33px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: inset 0px 10px 33px 0px rgba(0,0,0,0.75);
	box-shadow: inset 0px 10px 33px 0px rgba(0,0,0,0.75);
	border-top: 5px solid black;
	background-attachment: fixed; 
	background-size: 50%;
}

.table-title{
	padding-top: 20px;
}
th{
	color: #BF1363;
}

.bold{
 font-weight:500;
}

#diff{
	text-align: left;
}
body{
	min-width: 1250px;
}
p{
	line-height: 20px;
}
#consoleComp{
	width: 55%;
	display: inline-block;
	text-align: left;
}
#consolecomptable{
	text-align: left;
	width: 100%;
	height: 100%;
	margin: 0px;
}

#ps4{
	float: right;
	height: 150px;
	width: auto;
	display: inline-block;
}
#consolecomparisonbar{
	margin: 0px;
	padding: 0px;
}
#compleft{
	width: 50%;
}
#compleft p{
	width: 90%;
	padding: 20px;

}
#compright{
	width: 50%;
	background-color: #e6e6e6;
	-webkit-box-shadow: inset 10px 0px 33px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: inset 10px 0px 33px 0px rgba(0,0,0,0.75);
	box-shadow: inset 10px 0px 33px 0px rgba(0,0,0,0.75);
	background-image: url("https://upload.wikimedia.org/wikipedia/commons/8/8c/PS4-Console-wDS4.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 50%;
}
html{
	max-width: 1400px;
}
#selection{
	background-image: url("../images/col.jpg");
	margin: 0px;
	padding: 50px;
	background-attachment: fixed;
	background-position: center;
	background-size: 100%;
}
#flag{
	height: 100px;
	width: auto;

	display: inline-block;
}
#based{
	line-height: 100px;
	font-size: 20px;
	width:50%;
}